<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="https://cdn-icons.flaticon.com/png/128/4140/premium/4140047.png?token=exp=1645507142~hmac=d5b899be537224efb4b891ef7eb9725a" />
    </ion-avatar>
   <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="notifications"></ion-icon>
      <ion-badge color="danger">99+</ion-badge>
    </ion-button>
  </ion-buttons>
  <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let h of content">
    <ion-card-header >
      <ion-avatar>
        <img [src]="h.avatar">
      </ion-avatar>
      <p></p>
      <ion-card-subtitle>{{h.name}}</ion-card-subtitle>
      <img  [src]="h.img">
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, rem!
    </ion-card-content>
    <ion-button color="success">Trade</ion-button>
  </ion-card>
</ion-content>