<ion-header>
  <ion-toolbar>
   <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="notifications"></ion-icon>
      <ion-badge color="danger">99+</ion-badge>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="https://cdn-icons.flaticon.com/png/128/4140/premium/4140047.png?token=exp=1645507142~hmac=d5b899be537224efb4b891ef7eb9725a" />
    </ion-avatar>
    <ion-label>
      <p>Hi!</p>
      <h2>Pantira R.</h2>
    </ion-label>
  </ion-item>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Profile</ion-card-subtitle>
      <ion-card-title>Pantira R.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      12 Feb 2002
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, repudiandae.
    </ion-card-content>
  </ion-card>
  <!-- <ion-card>
    <ion-card-header >
      <h5>pantiraploy818@gmail.com</h5>
      <p>Pantira Rompetch</p>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, rem!
    </ion-card-content>
  </ion-card> -->
</ion-content>