<ion-header>
  <ion-toolbar>
   <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="notifications"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="https://cdn-icons.flaticon.com/png/512/4140/premium/4140051.png?token=exp=1645451558~hmac=313456839f56338743bce3efaea328a6" />
    </ion-avatar>
    <ion-label>
      <p>Hi!</p>
      <h2>Pantira R.</h2>
    </ion-label>
  </ion-item>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header >
      <ion-avatar>
        <img src="https://cdn-icons.flaticon.com/png/512/1014/premium/1014280.png?token=exp=1645459708~hmac=879ae1fa61f7036e22fb7a7e9f31ddeb">\
      </ion-avatar>
      <p>pantiraploy818@gmail.com</p>
      <img/>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, rem!
    </ion-card-content>
  </ion-card>
</ion-content>